body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

header, footer {
    background-color: #343a40;
    color: white;
}

h1, h2 {
    color: #007bff;
}

.profile img {
    width: 150px;
    height: 150px;
}

.container {
    max-width: 900px;
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
